.heroBlock__bigLogo {
  position: absolute;
  top: 0;
  transition: transform 0.5s ease-in-out 0.1s;
}
.heroBlock__bigLogo:hover {
  transform: rotateY(180deg) scale(1.3, 1.3);
}

.mainSection__contentButton {
  transform-origin: left;
  transition: transform 1s ease-in-out 0.1s;
}
.mainSection__contentButton:hover {
  transform: rotate(15deg);
}

.learnMore__centralBlock--playButton {
  transition: transform 0.8s ease-in-out, background 1s ease-in-out 0.2s, color 1s ease-in-out 0.2s;
}
.learnMore__centralBlock--playButton:hover {
  background: #FFFFFF;
  color: #39C2D7;
  transform: scale(0.9, 0.9);
}

.hero {
  position: relative;
  width: 100%;
  height: 822px;
  background-image: url(../assets/images/Desktop_Backgrounds_1920x1200_6\ 3.svg);
  background-size: cover;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 651px;
  height: 26px;
  left: 16.263%;
  top: 45px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
}
.header__title {
  align-self: flex-start;
  width: 91px;
  height: 16px;
  font-size: 20px;
  line-height: 80%;
  letter-spacing: 0.1em;
  margin: 0;
}
.header__navMenu {
  position: relative;
  display: flex;
  width: 395px;
  height: 22px;
  font-size: 14px;
  line-height: 114%;
  letter-spacing: 0.2em;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  align-self: flex-end;
}
.header__navMenu--item a {
  text-decoration: none;
  color: #FFFFFF;
}
.header__navMenu--item a:hover {
  border-bottom: 2px solid #FFFFFF;
}
.header__navMenu--item .header__navMenu--li-projects, .header__navMenu--item .header__navMenu--li-about-us {
  width: 81px;
  height: 16px;
  white-space: nowrap;
}
.header__navMenu--item .header__navMenu--li-stories {
  width: 67px;
  height: 16px;
}
.header__navMenu--item .header__navMenu--li-contact {
  width: 73px;
  height: 16px;
}

.heroBlock {
  position: absolute;
  width: 426px;
  height: 292px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroBlock__heading {
  position: absolute;
  top: 43.84px;
  width: 386px;
  height: 118px;
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  line-height: 133%;
  text-align: center;
  color: #FFFFFF;
}
.heroBlock__blockContent {
  position: absolute;
  bottom: -19.92px;
  width: 426px;
  height: 56px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.6980392157);
}

.mainSection {
  position: relative;
  width: 100%;
  height: 700px;
  margin: auto;
  background: #EEEEEE;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainSection__heading1 {
  position: absolute;
  margin: 0;
  width: 669px;
  height: 119px;
  top: 87px;
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  line-height: 133%;
  text-align: center;
  color: #464547;
}
.mainSection__heading2 {
  position: absolute;
  margin: 0;
  top: 246px;
  width: 426px;
  height: 56px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #666666;
}
.mainSection__article {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 8.65%;
  bottom: 180px;
  margin: 0;
  width: 100%;
  height: 172px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 138%;
  text-align: left;
  color: #666666;
}
.mainSection__article--firstP {
  width: 42.5%;
  margin: 0;
}
.mainSection__article--secondP {
  width: 43.33%;
  margin: 0;
}
.mainSection__contentButton {
  position: absolute;
  margin: 0;
  top: 566px;
}
.mainSection__contentButton--readMe {
  width: 115px;
  height: 36px;
  border-radius: 18px;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  background: #55C2D8;
  border: 0;
}

.learnMore {
  position: relative;
  width: 100%;
  height: 637px;
  background-image: url(../assets/images/IMG_1334_72dpi_RGB_\ 1.png);
  background-size: cover;
  display: flex;
  justify-content: center;
}
.learnMore__centralBlock {
  position: relative;
  width: 480px;
  height: 492px;
  top: 84px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: none;
}
.learnMore__centralBlock--heading {
  position: absolute;
  margin: 0;
  width: 480px;
  height: 117px;
  top: 0;
  font-family: "Oswald", sans-serif;
  font-size: 48px;
  line-height: 133%;
  text-align: center;
  color: #FFFFFF;
  background-image: none;
}
.learnMore__centralBlock--playButton {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 170px;
  background: #39C2D7;
  color: #FFFFFF;
  border-radius: 50%;
  border: 0;
  padding: 0;
  text-align: center;
  font-size: 55px;
  align-items: center;
}
.learnMore__centralBlock--subtitle {
  position: absolute;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #FFFFFF;
  width: 390px;
  height: 102px;
  top: 390px;
  background-image: none;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 199px;
  background: #464547;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  line-height: 119%;
  color: rgba(255, 255, 255, 0.4);
}
.footer__gridContainer {
  position: absolute;
  display: grid;
  grid-template: repeat(2, 44px)/repeat(7, 1fr);
  width: 75%;
  height: 88px;
  top: 37px;
}
.footer__gridContainer--logo {
  position: absolute;
  width: 128px;
  height: 20px;
}
.footer__gridContainer--logo .footer__gridContainer--tiny_logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}
.footer__gridContainer--logo .footer__gridContainer--aside {
  position: absolute;
  width: 92px;
  height: 16px;
  left: 36px;
  top: 2px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.footer__gridContainer--address {
  grid-column: 3/span 1;
  grid-row: 1/span 1;
  align-self: start;
  margin: 0;
  white-space: nowrap;
  width: 174px;
  height: 33px;
}
.footer__gridContainer--email {
  grid-column: 3/span 1;
  grid-row: 2/span 1;
  align-self: end;
  margin: 0;
  white-space: nowrap;
  width: 142px;
  height: 22px;
}
.footer__gridContainer--year {
  grid-column: 6/span 2;
  grid-row: 2/span 1;
  align-self: end;
  margin: 0;
  white-space: nowrap;
  width: 230px;
  height: 22px;
}

@media screen and (max-width: 890px) {
  .header {
    width: 90.21%;
    height: 16px;
    top: 41px;
    left: 4.9%;
  }
  .footer__gridContainer {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    height: 800px;
    background-image: url(../assets/images/Desktop_Backgrounds_1920x1200_6\ 3_\(responsive\).svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header {
    width: 90.21%;
    height: 16px;
    top: 41px;
    left: 4.9%;
  }
  .header__navMenu {
    width: 22px;
    height: 22px;
    background-image: url(../assets/images/hamburger-menu-svgrepo-com.svg);
    background-size: cover;
  }
  .header__navMenu--item a {
    display: none;
  }
  .mainSection {
    height: 990px;
  }
  .mainSection__heading1 {
    width: 355px;
    height: 261px;
    top: 65px;
    left: 23px;
    text-align: left;
  }
  .mainSection__heading2 {
    top: 367px;
    left: 23px;
    width: 453px;
    height: 81px;
    text-align: left;
  }
  .mainSection__article {
    flex-direction: column;
    gap: 24px;
    bottom: 178px;
    left: 23px;
    width: 445px;
    height: 336px;
  }
  .mainSection__article--firstP, .mainSection__article--secondP {
    width: 100%;
  }
  .mainSection__contentButton {
    top: 836px;
    height: 36px;
    left: 23px;
  }
  .mainSection__contentButton--readMe {
    display: flex;
    height: 36px;
    padding: 0;
    justify-content: center;
    text-align: center;
  }
  .learnMore {
    background-image: url(../assets/images/IMG_1334_72dpi_RGB_\ 1_\(responsive\).png);
  }
  .learnMore__centralBlock--heading, .learnMore__centralBlock--subtitle {
    background-image: none;
  }
  .learnMore__centralBlock--playButton {
    width: 100px;
    height: 100px;
    top: 208px;
    font-size: 36.67px;
    background-image: none;
  }
  .footer {
    height: 292px;
  }
  .footer__gridContainer {
    grid-template: repeat(4, 1fr)/100%;
    width: 243px;
    height: 161px;
    top: 56px;
  }
  .footer__gridContainer--logo {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    justify-self: center;
    align-self: start;
    height: 20px;
  }
  .footer__gridContainer--address {
    text-align: center;
    width: -moz-fit-content;
    width: fit-content;
    grid-column: 1/span 1;
    grid-row: 2/span 1;
    justify-self: center;
    align-self: center;
    height: 33px;
  }
  .footer__gridContainer--email {
    width: -moz-fit-content;
    width: fit-content;
    grid-column: 1/span 1;
    grid-row: 3/span 1;
    justify-self: center;
    align-self: center;
    height: 22px;
  }
  .footer__gridContainer--year {
    grid-column: 1/span 1;
    grid-row: 4/span 1;
    justify-self: center;
    align-self: center;
    height: 22px;
  }
}/*# sourceMappingURL=styles.css.map */