.heroBlock {
    &__bigLogo {
        position: absolute;
        top: 0;
        transition: transform 0.5s ease-in-out 0.1s;
        &:hover {
            transform: rotateY(180deg) scale(1.3, 1.3);
        }
    }
}

.mainSection {
    &__contentButton {
        transform-origin: left;
        transition: transform 1s ease-in-out 0.1s;

        &:hover {
            transform: rotate(15deg);
        }
    }
}

.learnMore {
    &__centralBlock {
        &--playButton {    
            transition: transform 0.8s ease-in-out, background 1s ease-in-out 0.2s, color 1s ease-in-out 0.2s;
            
            &:hover {
                background: $whiteColorFont;
                color: #39C2D7;
                transform: scale(0.9, 0.9);
            }
        }
    }
}