.footer {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: $footerHeight;
    background: #464547;
    font-family: $generalFont1;
    font-size: $navBarHeight;
    line-height: 119%;
    color: rgba(255, 255, 255, 0.4);

    &__gridContainer {
        position: absolute;
        display: grid;
        grid-template: repeat(2, 44px) / repeat(7, 1fr);
        width: 75%;
        height: 88px;
        top: 37px;

        &--logo {
            position: absolute;
            width: 128px;
            height: 20px;

            .footer__gridContainer--tiny_logo {
                position: absolute;
                left: 0;
                top: 0;
                width: 20px;
                height: 20px;
            }
    
            .footer__gridContainer--aside {
                position: absolute;
                width: 92px;
                height: 16px;
                left: 36px;
                top: 2px;
                font-family: $generalFont1;
                font-size: 18px;
                line-height: $navBarHeight;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                color: $whiteColorFont;
            }
        }

        &--address {
            grid-column: 3 / span 1;
            grid-row: 1 / span 1;
            align-self: start;
            margin: 0;
            white-space: nowrap;
            width: 174px;
            height: 33px;
        }

        &--email {
            grid-column: 3 / span 1;
            grid-row: 2 / span 1;
            align-self: end;
            margin: 0;
            white-space: nowrap;
            width: 142px;
            height: #{$h2Fontsize - 2};
        }

        &--year {
            grid-column: 6 / span 2;
            grid-row: 2 / span 1;
            align-self: end;
            margin: 0;
            white-space: nowrap;
            width: 230px;
            height: #{$h2Fontsize - 2};
        }
    }
}