.mainSection {
    position: relative;
    width: 100%;
    height: $mainSectionHeight;
    margin: auto;
    background: $mainBackgroundColor;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__heading1 {
        position: absolute;
        margin: 0;
        width: 669px;
        height: 119px;
        top: 87px;
        font-family: $generalFont2;
        font-size: $h1FontSize;
        line-height: $headingHeight;
        text-align: center;
        color: #464547;
    }

    &__heading2 {
        position: absolute;
        margin: 0;
        top: 246px;
        width: 426px;
        height: 56px;
        font-family: $generalFont1;
        font-size: $h2Fontsize;
        line-height: $headingHeight;
        text-align: center;
        color: $darkGrayColorFont;
    }

    &__article {
        position: absolute;
        display: flex;
        justify-content: center;
        gap: 8.65%;
        bottom: 180px;
        margin: 0;
        width: 100%;
        height: 172px;
        font-family: $generalFont1;
        font-size: $navBarHeight;
        line-height: 138%;
        text-align: left;
        color: $darkGrayColorFont;

        &--firstP {
            width: 42.5%;
            margin: 0;
        }

        &--secondP {
            width: 43.33%;
            margin: 0;
        }
    }

    &__contentButton {
        position: absolute;
        margin: 0;
        top: 566px;

        &--readMe {
            width: 115px;
            height: 36px;
            border-radius: 18px;
            font-family: $generalFont2;
            font-size: 14px;
            line-height: 186%;
            text-align: center;
            letter-spacing: 0.1em;
            color: $whiteColorFont;
            background: #55C2D8;
            border: 0;
        }
    }
}