@media screen and (max-width: 890px) {
    
    .header {
        width: 90.21%;
        height: $navBarHeight;
        top: 41px;
        left: 4.9%;
    }

    .footer {
        &__gridContainer {
            width: 90%;
        }
    }

}

@media screen and (max-width: 768px) {
    
    $heroSectionHeight: 800px;
    $heroBackGroundImage: url(../assets/images/Desktop_Backgrounds_1920x1200_6\ 3_\(responsive\).svg);
    $learnMoreBackGroundImage: url(../assets/images/IMG_1334_72dpi_RGB_\ 1_\(responsive\).png);

    .hero {
        height: $heroSectionHeight;
        background-image: $heroBackGroundImage;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header {
        width: 90.21%;
        height: $navBarHeight;
        top: 41px;
        left: 4.9%;

        &__navMenu {
            width: 22px;
            height: 22px;
            background-image: $resp-BGI-navBar;
            background-size: cover;

            &--item {
                a {
                    display: none;
                }
            }
        }
    }

    .mainSection {
        height: 990px;

        &__heading1 {
            width: 355px;
            height: 261px;
            top: 65px;
            left: 23px;
            text-align: left;
        }

        &__heading2 {
            top: 367px;
            left: 23px;
            width: 453px;
            height: 81px;
            text-align: left;
        }

        &__article {
            flex-direction: column;
            gap: 24px;
            bottom: 178px;
            left: 23px;
            width: 445px;
            height: 336px;

            &--firstP, &--secondP {
                width: 100%;
            }
        }

        &__contentButton {
            top: 836px;
            height: 36px;
            left: 23px;

            &--readMe {
                display: flex;
                height: 36px;
                padding: 0;
                justify-content: center;
                text-align: center;
            }
        }
    }

    .learnMore {
        background-image: $learnMoreBackGroundImage;

        &__centralBlock {

            &--heading, &--subtitle {
                background-image: none;
            }

            &--playButton {
                width: 100px;
                height: 100px;
                top: 208px;
                font-size: 36.67px;
                background-image: none;
            }
        }
    }

    .footer {
        height: 292px;

        &__gridContainer {
            grid-template: repeat(4, 1fr) / 100%;
            width: 243px;
            height: 161px;
            top: 56px;

            &--logo {
                grid-column: 1 / span 1;
                grid-row: 1 / span 1;
                justify-self: center;
                align-self: start;
                height: 20px;
            }

            &--address {
                text-align: center;
                width: fit-content;
                grid-column: 1 / span 1;
                grid-row: 2 / span 1;
                justify-self: center;
                align-self: center;
                height: 33px;
            }

            &--email {
                width: fit-content;
                grid-column: 1 / span 1;
                grid-row: 3 / span 1;
                justify-self: center;
                align-self: center;
                height: 22px;
            }

            &--year {
                grid-column: 1 / span 1;
                grid-row: 4 / span 1;
                justify-self: center;
                align-self: center;
                height: 22px;
            }
        }
    }
}