.hero {
    position: relative;
    width: 100%;
    height: $heroSectionHeight;
    background: {
        image: $heroBackGroundImage;
        size: cover;
    }
}

.header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 651px;
    height: 26px;
    left: 16.263%;
    top: 45px;
    font-family: $generalFont1;
    text-transform: uppercase;
    color: $whiteColorFont;

    &__title {
        align-self: flex-start;
        width: 91px;
        height: $navBarHeight;
        font-size: 20px;
        line-height: 80%;
        letter-spacing: 0.1em;
        margin: 0;
    }

    &__navMenu {
        position: relative;
        display: flex;
        width: 395px;
        height: 22px;
        font-size: 14px;
        line-height: 114%;
        letter-spacing: 0.2em;
        margin: 0;
        padding: 0;
        list-style: none;
        justify-content: space-between;
        align-self: flex-end;

        &--item {

            a {
                text-decoration: none;
                color: $whiteColorFont;
                &:hover {
                    border-bottom: 2px solid $whiteColorFont;
                }
            }

            .header__navMenu--li-projects, .header__navMenu--li-about-us {
                width: 81px;
                height: $navBarHeight;
                white-space: nowrap;
            }

            .header__navMenu--li-stories {
                width: 67px;
                height: $navBarHeight;
            }

            .header__navMenu--li-contact {
                width: 73px;
                height: $navBarHeight;
            }
        }
    }
}

.heroBlock {
    position: absolute;
    width: 426px;
    height: 292px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    &__heading {
        position: absolute;
        top: 43.84px;
        width: 386px;
        height: 118px;
        font-family: $generalFont2;
        font-size: $h1FontSize;
        line-height: $headingHeight;
        text-align: center;
        color: $whiteColorFont;
    
    }

    &__blockContent {
        position: absolute;
        bottom: -19.92px;
        width: 426px;
        height: 56px;
        font-family: $generalFont1;
        font-size: $h2Fontsize;
        line-height: 32px;
        text-align: center;
        color: $lightGrayColorFont;
    }
}