.learnMore {
    position: relative;
    width: 100%;
    height: $learnMoreSectionHeight;
    background-image: $learnMoreBackGroundImage;
    background-size: cover;
    display: flex;
    justify-content: center;

    &__centralBlock {
        position: relative;
        width: $centralBlockWidth;
        height: 492px;
        top: 84px;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: none;

        &--heading {
            position: absolute;
            margin: 0;
            width: $centralBlockWidth;
            height: 117px;
            top: 0;
            font-family: $generalFont2;
            font-size: $h1FontSize;
            line-height: $headingHeight;
            text-align: center;
            color: $whiteColorFont;
            background-image: none;
        }

        &--playButton {
            position: absolute;
            width: 150px;
            height: 150px;
            top: 170px;
            background: #39C2D7;
            color: $whiteColorFont;
            border-radius: 50%;
            border: 0;
            padding: 0;
            text-align: center;
            font-size: 55px;
            align-items: center;
        }

        &--subtitle {
            position: absolute;
            font-family: $generalFont1;
            font-size: $h2Fontsize;
            line-height: $headingHeight;
            text-align: center;
            color: $whiteColorFont;
            width: 390px;
            height: 102px;
            top: 390px;
            background-image: none;
        }
    }
}