$heroBackGroundImage: url(../assets/images/Desktop_Backgrounds_1920x1200_6\ 3.svg);
$learnMoreBackGroundImage: url(../assets/images/IMG_1334_72dpi_RGB_\ 1.png);
$resp-BGI-navBar: url(../assets/images/hamburger-menu-svgrepo-com.svg);
$mainBackgroundColor: #EEEEEE;
$generalFont1: 'Source Sans Pro', sans-serif;
$generalFont2: 'Oswald', sans-serif;
$whiteColorFont: #FFFFFF;
$lightGrayColorFont: #FFFFFFB2;
$darkGrayColorFont: #666666;
$heroSectionHeight: 822px;
$navBarHeight: 16px;
$mainSectionHeight: 700px;
$learnMoreSectionHeight: 637px;
$footerHeight: 199px;
$h1FontSize: 48px;
$h2Fontsize: 24px;
$headingHeight: 133%;
$centralBlockWidth: 480px;